<app-botonera></app-botonera>

<p-panel styleClass="main-panel">
    <p-toast></p-toast>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" [style]="{'margin-bottom':'7px'}">
        <div>
            <p-fileUpload 
                #fileUpload 
                name="myCSV" 
                [customUpload]="true" (uploadHandler)="handleCsvUpload($event)"
                accept=".csv"
                mode="basic"
                chooseLabel="Cargar excel" />
        </div>

        <div>
            <p-button 
                label="Registrar consumo"
                mode="basic" 
                [rounded]="false" 
                [raised]="true" 
                severity="secondary"  
                (click)="addConsumoSidebarVisible=true" />
        </div>
    </div>

    <!-- filtros -->
    <p-panel header="Filtros">
        <div fxLayout="row" fxLayoutGap="10px" [style]="{'margin-bottom':'10px'}">
            <div fxFlex="50%">
                <p-calendar id="filtroFechaDeConsumo" name="filtroFechaDeConsumo" [(ngModel)]="filtroConsumo.fechaDesde"
                    placeholder="Fecha desde" [style]="{'margin-bottom':'10px'}" dateFormat="dd/mm/yy"></p-calendar>
                <p-dropdown [options]="vehiculos" [(ngModel)]="selectedVehiculoConsumo"
                    [ngModelOptions]="{standalone: true}" optionLabel="numEconomico" [filter]="true"
                    filterBy="numEconomico" [showClear]="false" placeholder="Filtrar por vehículo" autoWidth="false"
                    [style]="{'width':'100%', 'margin-bottom':'10px'}">
                </p-dropdown>

                <p-dropdown [options]="estaciones" [(ngModel)]="selectedEstacionConsumo"
                    [ngModelOptions]="{standalone: true}" optionLabel="estacion" [filter]="true" filterBy="estacion"
                    [showClear]="false" placeholder="Filtrar por Estacion" autoWidth="false" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>

            <div fxFlex="50%">
                <p-calendar id="filtroFechaHastaConsumo" name="filtroFechaHastaConsumo"
                    [(ngModel)]="filtroConsumo.fechaHasta" placeholder="Fecha hasta" [style]="{'margin-bottom':'10px'}"
                    dateFormat="dd/mm/yy">
                </p-calendar>

                <p-dropdown [options]="productos" [(ngModel)]="selectedProductoConsumo"
                    [ngModelOptions]="{standalone: true}" optionLabel="producto" [filter]="true" filterBy="producto"
                    [showClear]="false" placeholder="Filtrar por producto" autoWidth="false" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>

        <p-button label="Aplicar" [outlined]="true" severity="secondary" class="right-aligned" type="button"
            (click)="filtrarConsumo()"></p-button>
        <p-button label="Borrar filtros" [outlined]="true" severity="secondary" class="right-aligned borrar-filtros"
            type="button" (click)="filtrarConsumo(true)"></p-button>
    </p-panel><br>

    <!-- tabla -->
    <p-table #consumosTable [value]="consumos" [columns]="cols" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 4rem"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #nested_object_content>
                        {{rowData[col.field][col.subfield]}}
                    </ng-template>
                    <ng-template #normal_content>
                        {{rowData[col.field]}}
                    </ng-template>
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"
                        (click)="editConsumo(rowData)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
            <p-button type="button" styleClass="p-button-text" icon="pi pi-cloud-download"
                (click)="exportToCSV(consumosTable.columns, consumosTable.value)"></p-button>
        </ng-template>
    </p-table>

    <!-- add consumo panel -->
    <p-sidebar [(visible)]="addConsumoSidebarVisible" position="right">
        <ng-template pTemplate="header">Registrar consumo</ng-template>
        <ng-template pTemplate="content">
            <form class="form-container" (ngSubmit)="saveVehiculoConsumo()">
                <p-dropdown #vehiculoDropdown [options]="vehiculos" [(ngModel)]="saveConsumoModel.vehiculoDTO"
                    [ngModelOptions]="{standalone: true}" optionLabel="numEconomico" [filter]="true"
                    filterBy="numEconomico" [showClear]="false" placeholder="Seleccionar un vehículo" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <p-dropdown [options]="estaciones" [(ngModel)]="saveConsumoModel.estacionDTO"
                    [ngModelOptions]="{standalone: true}" optionLabel="estacion" [filter]="true" filterBy="estacion"
                    [showClear]="false" placeholder="Seleccionar una estación" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <label for="fechaConsumo">Fecha de consumo</label>
                <input class="native-date-picker full-width" id="fechaConsumo" name="fechaConsumo"
                    [(ngModel)]="saveConsumoModel.fechaConsumo" type="date" />
                <br>

                <p-dropdown [options]="horas" [(ngModel)]="saveConsumoModel.horaConsumoJson"
                    [ngModelOptions]="{standalone: true}" optionLabel="horaConsumo" [filter]="true"
                    filterBy="horaConsumo" [showClear]="false" placeholder="Seleccionar una hora" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <p-dropdown [options]="productos" [(ngModel)]="saveConsumoModel.productoDTO"
                    [ngModelOptions]="{standalone: true}" optionLabel="producto" [filter]="true" filterBy="producto"
                    [showClear]="false" placeholder="Seleccionar un producto" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <span class="p-float-label">
                    <p-inputNumber [minFractionDigits]="2" id="precio" name="precio"
                        [(ngModel)]="saveConsumoModel.precio" class="full-width" />
                    <label for="precio">Precio</label>
                </span><br>

                <span class="p-float-label">
                    <p-inputNumber [minFractionDigits]="2" id="cantidad" name="cantidad"
                        [(ngModel)]="saveConsumoModel.cantidad" class="full-width" />
                    <label for="cantidad">Cantidad</label>
                </span><br>

                <span class="p-float-label">
                    <p-inputNumber [minFractionDigits]="2" id="odometro" name="odometro"
                        [(ngModel)]="saveConsumoModel.odometro" class="full-width" />
                    <label for="odometro">Ódometro</label>
                </span><br>

                <span class="p-float-label">
                    <p-inputNumber [minFractionDigits]="2" id="rendimiento" name="rendimiento"
                        [(ngModel)]="saveConsumoModel.rendimiento" class="full-width" />
                    <label for="rendimiento">Rendimiento</label>
                </span><br>

                <span class="p-float-label">
                    <p-inputNumber [minFractionDigits]="2" id="recorrido" name="recorrido"
                        [(ngModel)]="saveConsumoModel.recorrido" class="full-width" />
                    <label for="recorrido">Recorrido</label>
                </span><br>

                <p-button label="Guardar" [outlined]="true" severity="secondary" class="right-aligned"
                    type="submit"></p-button>
            </form>
        </ng-template>
    </p-sidebar>
</p-panel>