<app-botonera></app-botonera>

<p-panel styleClass="main-panel">
    <p-button label="Agregar proveedor" [rounded]="true" [raised]="true" severity="secondary" (click)="addProveedorSidebarVisible=true"></p-button><br><br>

    <p-table [value]="proveedores" [columns]="cols" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #nested_object_content>
                        {{rowData[col.field][col.subfield]}}
                    </ng-template>
                    <ng-template #normal_content>
                        {{rowData[col.field]}}
                    </ng-template>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

    <!-- add proveedor panel -->
    <p-sidebar [(visible)]="addProveedorSidebarVisible" position="right">
        <ng-template pTemplate="header">Agregar proveedor</ng-template>
        <ng-template pTemplate="content">
            <form class="form-container" (ngSubmit)="saveproveedor()"><br><br>
                <span class="p-float-label">
                    <input pInputText id="proveedor" name="proveedor" [(ngModel)]="saveProveedorModel.proveedor" class="full-width" />
                    <label for="proveedor">Nombre del proveedor</label>
                </span><br>

                <p-button label="Guardar" [outlined]="true" severity="secondary" class="right-aligned" type="submit"></p-button>
            </form>
        </ng-template>
    </p-sidebar>
</p-panel>