<app-botonera></app-botonera>

<p-panel styleClass="main-panel">
    <p-toast></p-toast>
    <p-button label="Agregar producto" [rounded]="true" [raised]="true" severity="secondary" (click)="addProductoSidebarVisible=true"></p-button><br><br>

    <p-table [value]="productos" [columns]="cols" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 4rem"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #nested_object_content>
                        {{rowData[col.field][col.subfield]}}
                    </ng-template>
                    <ng-template #normal_content>
                        {{rowData[col.field]}}
                    </ng-template>
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"
                        (click)="editProducto(rowData)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

    <!-- add producto panel -->
    <p-sidebar [(visible)]="addProductoSidebarVisible" position="right">
        <ng-template pTemplate="header">Agregar producto</ng-template>
        <ng-template pTemplate="content">
            <form class="form-container" (ngSubmit)="saveproducto()"><br><br>
                <span class="p-float-label">
                    <input pInputText id="producto" name="producto" [(ngModel)]="saveProductoModel.producto" class="full-width" />
                    <label for="producto">Nombre de la estación</label>
                </span><br>

                <p-button label="Guardar" [outlined]="true" severity="secondary" class="right-aligned" type="submit"></p-button>
            </form>
        </ng-template>
    </p-sidebar>
</p-panel>