<app-botonera></app-botonera>

<p-panel styleClass="main-panel">
    <p-toast></p-toast>
    <p-button label="Registrar servicio" [rounded]="true" [raised]="true" severity="secondary"
        (click)="addServicioSidebarVisible=true"></p-button><br><br>

    <!-- filtros -->
    <p-panel header="Filtros">
        <div fxLayout="row" fxLayoutGap="10px" [style]="{'margin-bottom':'10px'}">
            <div fxFlex="50%">
                <p-calendar id="filtroFechaDe" name="filtroFechaDe" [(ngModel)]="filtro.fechaDesde"
                    placeholder="Fecha desde" [style]="{'margin-bottom':'10px'}" dateFormat="dd/mm/yy"></p-calendar>
                <p-dropdown [options]="vehiculos" [(ngModel)]="selectedVehiculo" [ngModelOptions]="{standalone: true}"
                    optionLabel="numEconomico" [filter]="true" filterBy="nombre" [showClear]="false"
                    placeholder="Filtrar por vehículo" autoWidth="false" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>

            <div fxFlex="50%">
                <p-calendar id="filtroFechaHasta" name="filtroFechaHasta" [(ngModel)]="filtro.fechaHasta"
                    placeholder="Fecha hasta" [style]="{'margin-bottom':'10px'}" dateFormat="dd/mm/yy">
                </p-calendar>

                <p-dropdown [options]="tiposServicio" [(ngModel)]="selectedServicio"
                    [ngModelOptions]="{standalone: true}" optionLabel="servicio" [filter]="true" filterBy="servicio"
                    [showClear]="false" placeholder="Filtrar por Servicio" autoWidth="false" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>

        <p-button label="Aplicar" [outlined]="true" severity="secondary" class="right-aligned" type="button"
            (click)="filtrar()"></p-button>
        <p-button label="Borrar filtros" [outlined]="true" severity="secondary" class="right-aligned borrar-filtros"
            type="button" (click)="filtrar(true)"></p-button>
    </p-panel><br>


    <!-- tabla -->
    <p-table #serviciosTable [value]="servicios" [columns]="cols" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 4rem"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #nested_object_content>
                        {{rowData[col.field][col.subfield]}}
                    </ng-template>
                    <ng-template #normal_content>
                        {{rowData[col.field]}}
                    </ng-template>
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-cloud-download" (click)="downloadFile(rowData)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
            <p-button type="button" styleClass="p-button-text" icon="pi pi-cloud-download"
                (click)="exportToCSV(serviciosTable.columns, serviciosTable.value)"></p-button>
        </ng-template>
    </p-table>

    <!-- add servicio panel -->
    <p-sidebar [(visible)]="addServicioSidebarVisible" position="right">
        <ng-template pTemplate="header">Registrar servicio</ng-template>
        <ng-template pTemplate="content">
            <form class="form-container" (ngSubmit)="saveServicio()">
                <p-dropdown [options]="vehiculos" [(ngModel)]="saveServicioModel.vehiculoDTO"
                    [ngModelOptions]="{standalone: true}" optionLabel="numEconomico" [filter]="true"
                    filterBy="numEconomico" [showClear]="false" placeholder="Seleccionar un vehículo" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <p-dropdown [options]="tiposServicio" [(ngModel)]="saveServicioModel.servicioDTO"
                    [ngModelOptions]="{standalone: true}" optionLabel="servicio" [filter]="true" filterBy="servicio"
                    [showClear]="false" placeholder="Seleccionar un tipo de servicio" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <span class="p-float-label">
                    <input pInputText id="kilometraje" name="kilometraje" [(ngModel)]="saveServicioModel.kilometraje"
                        class="full-width" />
                    <label for="kilometraje">Kilometraje</label>
                </span><br>

                <p-dropdown [options]="proveedores" [(ngModel)]="saveServicioModel.proveedorDTO"
                    [ngModelOptions]="{standalone: true}" optionLabel="proveedor" [filter]="true" filterBy="proveedor"
                    [showClear]="false" placeholder="Seleccionar un proveedor" autoWidth="false"
                    [style]="{'width':'100%'}">
                </p-dropdown><br>

                <span class="p-float-label">
                    <input pInputText id="folioFactura" name="folioFactura" [(ngModel)]="saveServicioModel.folioFactura"
                        class="full-width" />
                    <label for="folioFactura">Folio de factura</label>
                </span><br>

                <span class="p-float-label">
                    <input pInputText id="costo" name="costo" [(ngModel)]="saveServicioModel.costo"
                        class="full-width" />
                    <label for="costo">Costo del servicio</label>
                </span><br>
                
                <span class="p-float-label">
                    <input class="native-date-picker" id="fechaServicio" name="fechaServicio" [(ngModel)]="saveServicioModel.fechaServicio" type="date" />
                    <!--<p-calendar id="fechaServicio" name="fechaServicio" [(ngModel)]="saveServicioModel.fechaServicio"
                        class="full-width" dateFormat="dd/mm/yy"></p-calendar>-->
                </span><br>

                <span class="p-float-label">
                    <input pInputText id="descripcion" name="descripcion" [(ngModel)]="saveServicioModel.descripcion"
                        class="full-width" />
                    <label for="descripcion">Datos adicionales</label>
                </span><br>

                <span class="p-float-label">
                    <p-fileUpload 
                        #fileUpload 
                        name="myfile"
                        url="/upload/url"
                        accept=".pdf"
                        mode="basic"
                        chooseLabel="Choose PDF">
                    </p-fileUpload>
                </span><br>

                <p-button label="Guardar" [outlined]="true" severity="secondary" class="right-aligned"
                    type="submit"></p-button>
            </form>
        </ng-template>
    </p-sidebar>
</p-panel>